fastapi
uvicorn[standard]
python-dotenv
pydantic
passlib[bcrypt]
python-jose[cryptography]
motor
pymongo
python-multipart
apscheduler
boto3
httpx
websockets
slowapi
email-validator
aiosmtplib
beanie
pydantic-settings==2.0.3
psycopg2-binary